/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

html, .tui-editor-contents {
	font-family: 'LotteMartDream', sans-serif !important;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 라이브러리 */


.flex {
	display: flex;
}

.flex-jc-s{
  justify-content: flex-start;
}

.flex-jc-c {
	justify-content: center;
}

.flex-ai-c {
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.flex-grow-1 {
	flex-grow: 1;
}

.con {
	margin-left: auto;
	margin-right: auto;
}

.min-height-100vh {
	min-height: 100vh;
}
.min-height-70vh {
	min-height: 70vh;
}
.bg-pink {
	background-color: pink;
}

.bd-green {
	border: 10px solid green;
}

.bg-red {
	background-color: red;
}

.bg-blue {
	background-color: blue;
}

.height-100p {
	height: 100%;
}

.align-content{
  align-content:center;
}

.block {
	display: block;
}

/* 커스텀 */
.con-min-width {
	min-width: 1200px;
}

.con {
	width: 1200px;
}

.index-list{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}
.index-list-min-width{
	min-width:1200px;
}

/* 로고 시작 */
.logo {
	font-size: 3rem;
}


.logo-bar> .con > .logo >span {
  margin-left: 40px;;
  width:300px;
  height:100px;
  background-image:url('twitter_header_photo_1.png');
  background-size: cover;
}

.logo>span>span {
	font-weight:bold;
}

.logo--mini {
	font-size: 2rem;
}
/* 로고 끝 */

/* 로고바 시작 */
.logo-bar {		
	height: 110px;
}
/* 로고바 끝 */

/* 신메뉴바 */
.logo-bar .menu-box-1 {
  margin-right:30px;
}
.logo-bar .menu-box-1 > ul > li > a {
  font-weight:bold;
  font-size:1.5rem;
  padding:0 10px;
}
.logo-bar .menu-box-1 > ul > li:hover > a {
  color:pink;
}
/* 신메뉴바 끝*/

/* 메뉴바 시작 */
.menu-bar {
  	opacity:90%;
  background-color:black;
  position:fixed;
  top:0;
  left:-390px;
  width:400px;
  height:100%;
  transition:left .4s;
  z-index:1;
}
.menu-bar:hover {
  left:0px;
}

.menu-bar__menu-1 ul>li>a {
	text-align: center;
  color:white;
	padding: 40px;
	font-size:1.3rem;
	font-weight:bold;
}

.menu-bar__menu-1 ul>li:hover>a {
	background-color: white;
	color: black;
}
.menu-bar__menu-1>ul>li>a {
	border-radius: 15px;
}
.menu-bar__menu-1>ul>li:hover {
  transition:left 0.4s; 
  left:-10px;  
	
}
/* 메뉴바 끝 */

/* 타이틀바 시작 */
.title-bar {
	margin-top: 30px;
	margin-bottom: 30px;
}
/* 타이틀바 끝 */

/* 배경화면 시작 */
.color-w{
	color:white;
}

.video {
    width: 100%;
}

.jb-box {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    background-color: white;
}
.jb-text { position: absolute; top: 50%; width: 100%; }
.jb-text p { 
	margin-top: -24px; 
	text-align: center; 
	font-size: 48px; 
	color: #ffffff; 
}
	
/* 배경화면 끝 */

/*리스트 시작*/
:root {
--article-list__cell-id__width:100px;
--article-list__cell-reg-date__width:220px;
--article-list__cell-writer__width:150px;
--article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width));
}
.article-list > * > div {
  display:flex;
}
.article-list > header > div > div {
position:relative;
}
.article-list > header > div > div::after {
content:"";
position:absolute;
top:50%;
transform:translateY(-50%);
right:0;
width:1px;
height:10px;
background-color:black;
}

.article-list > * > div > div {
	box-sizing:border-box;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}
.flex {
  display:flex;
}

.flex-jc-c {
  justify-content:center;
}
.article-list__cell-id {
width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
width:var(--article-list__cell-writer__width);
}

.article-list__cell-title {
width:var(--article-list__cell-title__width);
}	

.article-list__comments-count {
width:var(--article-list__comments-count__width);
}

.article-list__likes-count {
width:var(--article-list__likes-count__width);
}

.article-list > main .article-list__cell-title {
text-align:left;
padding-left:10px;
}

.article-list > .list-main > div {
border-top:1px solid black;
}

.list-page div > a{  
  font-size:2rem;
  margin: 0 5px ;
}
/*리스트 페이지 */



.flex-jc-r{
  justify-content:flex-end;
}

.article-page-menu {
  margin-top:20px;
  margin-bottom:20px;
}

.article-page-menu > ul > li > a {
  padding:7px;
}

.article-page-menu > ul > li > .stat-red {
  color:red;
  font-size:1.4rem;
}


.article-page-menu > ul > li:not(:first-child):not(:last-child) > a {
  border:1px solid transparent;
  padding-left:0;
  padding-right:0;
  min-width:30px;
  justify-content:center;
}

.article-page-menu > ul > li:not(:first-child):not(:last-child):hover > a {
  border-color:#afafaf;
}

.article-page-menu__link--selected {
  color:red;
}
/*리스트 페이지 끝 */
/*리스트 끝*/

/* 게시물 검색 시작 */

.article-search > form {
  display:flex;
  justify-content:flex-end;
  padding:10px;
}

/* 게시물 검색 끝 */


/*디테일 시작 */
:root {
--article-detail__cell-id__width:70px;
--article-detail__cell-reg-date__width:190px;
--article-detail__cell-writer__width:120px;
--article-detail__cell-title__width:calc(100% - var(--article-detail__cell-id__width) - var(--article-detail__cell-reg-date__width) - var(--article-detail__cell-writer__width) - var(--article-detail__likes-count__width) - var(--article-detail__comments-count__width));
--article-detail__likes-count__width:70px;
--article-detail__comments-count__width:70px;
}


.detail-list > * > div {
  display:flex;
}
.detail-list > header > div > div {
position:relative;
}

.detail-list > header > div > div::after {
content:"";
position:absolute;
top:50%;
transform:translateY(-50%);
right:0;
width:1px;
height:10px;
background-color:black;
}


.detail-list > .detail-title{
  margin-bottom:50px;
   border-bottom:1px solid black;
   text-align: center;
}


.detail-list > .detail-main {
	
  margin-left: 30px;
  border-top:1px solid black;
  border-bottom:1px solid black;
  width:1100px;
}
.detail-list > .detail-main >.main-body{
	
	display:block;
  font-size:2rem;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;  
}

.detail-list > * > .detail-div > div {
box-sizing:border-box;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}
.article-detail__cell-id {
width:var(--article-detail__cell-id__width);
}

.article-detail__cell-reg-date {
width:var(--article-detail__cell-reg-date__width);
}

.article-detail__cell-writer {
width:var(--article-detail__cell-writer__width);
}

.article-detail__cell-title {
width:var(--article-detail__cell-title__width);
}	

.article-detail__comments-count {
width:var(--article-detail__comments-count__width);
}

.article-detail__likes-count {
width:var(--article-detail__likes-count__width);
}
.article-list > main .article-list__cell-title {
text-align:left;
padding-left:10px;
}

/*디테일 메뉴 */
.article-detail__menu{
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.article-detail > * {
  border-bottom:1px solid black;
  padding-bottom:20px;
  padding-top:20px;
}

.article-detail__title {
  font-size:1.2rem;
  padding-top:0;
}

.article-detail__sub-info > * {
  margin-right:15px;
}

.article-detail__menu > a {
  margin-right:15px;
}
.article-detail__menu > a:hover{
  color:red;
}


/*디테일 메뉴 끝 */

/*디테일 끝 */

/* 하단바 시작 */
.bottom-bar> .con > .logo >span {	
  margin-left: 40px;
  width:250px;
  height:83.3px;
  background-image:url('bottom.png');
  background-size: cover;
}

.bottom-bar {	
	background-color: black;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.bottom-bar__site-info {
	margin-left: 20px;
}
/* 하단바 끝 */
/* 홈페이지 */

.list_content {
  margin-bottom:25px;  
  background-color:white;
  border-radius:20px;
  
}
.list_content > a > nav {
  padding-top:15px;
  padding-left:10px;
  border-bottom:1px solid #afafaf;  
}

.list_content > .detail_into{
  margin-top:10px;
  padding-left:10px;
  padding-bottom:10px;
}
.list_content .tit_post{
    font-size: 18px;
    line-height: 18px;    
}
.list_content .txt_post {
    font-size: 15px;
    line-height: 15px;
    overflow: hidden;
    display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

/* 홈페이지 끝 */

/* 상태 */

.stat-list > * > div {
  display:flex;
}
.stat-list > header > div > div {
position:relative;
}

.stat-list > header > div > div::after {
content:"";
position:absolute;
}


.stat-list > .detail-title{
  margin-bottom:50px;
   border-bottom:1px solid black;
   text-align: center;
}


.detail-list > .detail-main {
	
  margin-left: 30px;
  border-top:1px solid black;
  border-bottom:1px solid black;
  width:1100px;
}
.detail-list > .detail-main >.main-body{
	
	display:block;
  font-size:2rem;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;  
}
/* 상태 끝 */
/* 탑바 */
.topbutton{
  position:fixed;
  display:none;
  text-align:center;
  bottom:100px;
  right:150px;
  width:50px;
  height:50px;
  background-color:#11264f;
  opacity:80%;
  z-index:50;
  transition: transform 1s;
}
.fa-angle-double-up{
  color:white;
  font-size:50px;
}
/* 탑바 끝*/
/* 화면 사이즈 */
@media ( max-width:1100px ) {
  .index-list{
  	width:auto;
  }
  .index-list-min-width{
    margin-left:10px;
  	min-width:auto;
  }
  .con{
	width:auto;
  }
  
  .con-min-width {
    min-width:auto;
  }
  
   .detail-main{
    width:auto !important;
  }
  
  .side-menu{
    display:flex;
  }
  .detail-list{
    width:auto;
  }
  .bottom-bar {
    width: auto;
  }
  .article-list__title, .article-list__cell-id, .article-list__cell-writer, .article-list__cell-reg-date {
    display:none;
  }
  .article-list__cell-title{
    font-size:15px;
    width:100%!important;
  }

 @media ( max-width:800px ) {
  .detail-title{
  	display:none;
  }
 
}
}
/* 화면 사이즈 끝 */
